@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Mohave&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap:15vh;
}
:root {
  --primary-color: #333333;
  --secondary-color: #4f4f4f;
}
.error-container {
  display: flex;
  flex-direction: row;
}
#error-name {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 4vh;
  margin-left: 7vw;
  line-height: 1.5rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.error-details {
  /* margin-top: 10vh;  */
  /* margin-left: 7vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-container {
  width: 35vw;
}

.error-message {
  display: flex;
  flex-direction: column;
  gap:3vh;
  width:44em;
  /* justify-content: space-between; */
}
.error-heading {
  /* max-width: 10em; */
  width:100%;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 4rem;
  line-height: 5.93rem;
  letter-spacing: -0.035em;
  color: var(--primary-color);
}
.error-message p {
  /* max-width: 20em; */
  width:62%;
  font-family: Space Mono;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -0.035em;
  color: var(--secondary-color);
}
.btn-home {
  max-width: 15em;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.31rem;
  letter-spacing: -0.035em;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 1rem 2rem;
}

.footer-details {
  font-family: montserrat;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 1%;
  color: #bdbdbd;
  line-height: 1rem;
  font-size: 0.8rem;
  /* margin-left: 4em; */
}
.footer-details a {
  color: #bdbdbd;
}
@media (max-width: 480px) {
  body {
    gap: 6vh;
  }

  .error-details {
    margin-top: 0;
    margin-left: 0;
    gap: 6vh;
  }

  .image-container {
    width: 82vw;
  }

  .error-message {
    gap: 1.5vh;
    width: 90vw;
  }
  .error-heading {
    width: 100%;
    font-size: 3rem;
    line-height: 71.09px;
  }
  .error-message p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 26.66px;
  }
  .btn-home {
    font-size: 1rem;
    line-height: 1.31rem;
    margin-top: 10%;
  }
  .footer-details {
    margin-left: 0;
    margin-top: 8%;
    margin-bottom: 1rem;
  }
}
