@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Mohave&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap");
body {
  margin: 0;
}
:root {
  --primary-color: #333333;
  --secondary-color: #4f4f4f;
}
.error-container {
  display: flex;
  flex-direction: row;
}
#error-name {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 4vh;
  margin-left: 7vw;
  line-height: 1.5rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.error-details {
  margin-top: 10vh;
  margin-left: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-container {
  width: 35vw;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.error-heading {
  max-width: 10em;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 4rem;
  line-height: 5.93rem;
  letter-spacing: -0.035em;
  color: var(--primary-color);
}
.error-message p {
  max-width: 20em;
  font-family: Space Mono;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -0.035em;
  color: var(--secondary-color);
}
.btn-home {
  max-width: 15em;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.31rem;
  letter-spacing: -0.035em;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 1rem 2rem;
}

@media (max-width: 500px) {
  .error-heading {
    font-size: 3rem;
  }
  .error-message p {
    font-size: 1.1rem;
  }
  .error-details {
    flex-wrap: wrap;
  }
  .image-container {
    width: 90vw;
  }
  .error-details {
    margin-top: 5vh;
  }
  .error-heading {
    width: 8.5em;
  }
}

.footer-details {
  font-family: montserrat;
  text-align: center;
  margin-top: 8vh;
  color: #bdbdbd;
  line-height: 1rem;
  font-size: 0.8rem;
  margin-left: 3em;
  margin-bottom: 0;
}
.footer-details a {
  color: #bdbdbd;
}
